
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/skyhigh
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
logging:
  level:
    root: INFO
